<div class="email-sent-modal">
	<button
		class="email-sent-modal__close close-modal btn-reset"
		aria-label="Закрыть модальное окно"
	>
		<img
			src="@img/icons/close-modal-icon.svg"
			width="14"
			height="14"
			loading="lazy"
			alt="Close"
		/>
	</button>
	<div class="email-sent-modal__content">
		<div class="email-sent-modal__logo">
			<img
				src="@img/logo-modal.svg"
				width="144"
				height="42"
				loading="lazy"
				alt="Logo"
			/>
		</div>
		<div class="email-sent-modal__body">
			<p class="email-sent-modal__text">
				We have sent you an email mail@davidsmith4819.com with access to your
				personal account.
			</p>
		</div>
	</div>
</div>
