<div class="input-group error">
	<label class="input-group__label">
		<span>Password</span>
		<input
			class="input-group__input"
			type="password"
			placeholder="No password yet"
		/>
		<button class="input-group__btn">
			<img
				class="input-group__icon input-group__icon--eye active"
				src="@img/icons/eye-gray.svg"
				alt="Hide password"
			/>
			<img
				class="input-group__icon input-group__icon--eye-slash"
				src="@img/icons/eye-gray-slash.svg"
				alt="Show password"
			/>
		</button>
	</label>
	<div class="input-group__error">
		<p>Username already exists</p>
		<p>Wrong Username</p>
	</div>
</div>
