<div class="payment-failed-modal">
	<button
		class="payment-failed-modal__close close-modal btn-reset"
		aria-label="Закрыть модальное окно"
	>
		<img
			src="@img/icons/close-modal-icon.svg"
			width="14"
			height="14"
			loading="lazy"
			alt="Close"
		/>
	</button>
	<div class="payment-failed-modal__content">
		<div class="payment-failed-modal__head">
			<h4 class="payment-failed-modal__head-title">Notification</h4>
		</div>
		<div class="payment-failed-modal__body">
			<h3 class="payment-failed-modal__title">Payment failed</h3>
			<p class="payment-failed-modal__text">Something went wrong</p>
			<div class="payment-failed-modal__btns">
				<button class="payment-failed-modal__btn btn btn--red btn-reset">
					Retry
				</button>
				<button class="payment-failed-modal__btn btn btn--black btn-reset">
					Close
				</button>
			</div>
		</div>
	</div>
</div>
