<div class="upgrade-modal">
	<button
		class="upgrade-modal__close close-modal btn-reset"
		aria-label="Закрыть модальное окно"
	>
		<img
			src="@img/icons/close-modal-icon-gray.svg"
			width="14"
			height="14"
			loading="lazy"
			alt="Close"
		/>
	</button>
	<div class="upgrade-modal__content">
		<h3 class="upgrade-modal__title"><span>Hey,</span> upgrade your tariff</h3>
		<p class="upgrade-modal__text">
			Your tariff is expired. Wait until next month or upgrade your tariff.
		</p>
		<a class="upgrade-modal__btn btn btn--yellow" href="#">Upgrade</a>
	</div>
</div>
